body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.center-section {
	max-width: 960px;
	position: relative;
	margin: 0px auto;
}

canvas, svg {
	position: relative;
	margin: 25px auto;
	display: block;
}

