body {
  padding-top: 65px;
  padding-bottom: 30px;
}

.content__header {
	padding-bottom: 15px;
}

.content__header a {
	margin-left: 10px;
}

canvas, svg, iframe {
	position: relative;
	margin: 25px auto;
	display: block;
}


.nav .full-word {
	display: inline-block;
}

.nav .one-letter {
	display: none;
}


@media (max-width: 1201px) and (min-width: 768px) {
	.nav .full-word {
		display: none;
	}

	.nav .one-letter {
		display: inline-block;
	}
}